.burger-container {
  position: relative;
  display: inline;
  
}

.overDiv{
    display:flex;
    justify-content: space-between;
    
}
.burger-btn {
  font-size: 28px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
}

.menu-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.5);
  z-index: 9;
  
}


.burger-menu {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 250px;
  background: #8cb57b;
  padding-top: 60px;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
  z-index: 10;
}

.burger-menu.open {
  transform: translateX(0);
}

.burger-menu ul {
  list-style: none;
  padding: 0;
}

.burger-menu li {
  padding: 14px 20px;
  font-size: 18px;
  color: black;
}

#menuTitle{
    margin-left:10px;
}
a{
color:black;
}

.topBar{ 
    font-size: 60px;
    padding: 0px 0px 0px 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    
}

.topBarContainer{
    position:fixed;
    top:0;
    width: 100%;
    margin:-8px;
    height: 130px;
    z-index: 1000;
    background-color: #e5c4ad;
    border-radius: 0 0 5px 5px;
    
}
